<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blue Fox News</title>
    </head>
    <body>
        <%= message %>
        <h2>Welcome to </h2><h1 style="font-family: Arial, Helvetica, sans-serif;">Blue Fox News</h1>
        <a href="/users/login">Login</a>
        <br>
        <a href="/users/register">Register</a>
        <p>STEP 1: Open the registration form and fill you details. Make sure that the email is correct.</p>
        <p>STEP 2: You will be receive an OTP on your email. Fill that OTP when asked.</p>
        <p>STEP 3: If the OTP is correct, you will be registered successfully.</p>
        <p>STEP 4: You can now select 2 topics about which you want to read news.</p>
    </body>
</html>