<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Login Successful</h2>
        <h3>Welcome <%= name %></h3>
        <br>
        <p>Update your news preferences.</p>
        <p><%= message %></p>
        <form action="/users/update" method="post">
            <input type="text" name="preference1" placeholder= <%= topic1 %> >
            <br>
            <input type="text" name="preference2" placeholder= <%= topic2 %> >
            <br>
            <button type="submit">Update</button>
        </form>
        <br>
        <h3>OR</h3>
        <form action="/users/changeSubscriptionStatus" method="post">
            <p>You can change the status of your subscription: </p>
            <button type="submit">Change</button>
            <br>
            <p>NOTE: You will not receive emails once you are unsubscribed.</p>
        </form>
        <a href="/users/logout">Logout</a>
        <br>
        <p>Found a bug? <a href="mailto:bluefoxdevs@gmail.com">Inform</a> the developer.</p>
    </body>
</html>